{% extends "base.html" %}

{% block css %}
<style type="text/css">
  body{
    padding-top: 40px;
  }
  h1, p{
    text-align:center;
  }
  h1{
    font-size:64px;
    margin:75px 0 50px;
  }
  p{
    font-size:24px;
    margin:15px 0;
  }
</style>
{% endblock %}


{% block main %}
<h1>FORMULAIC!</h1>
<form method="POST">
    <p>Email address</p>
    <input name="emailaddress">
    <p>Location:</p>
    <!-- <input name="zipcode"> -->
  <input list="browsers">
  <datalist id="browsers">
    <option value="Internet Explorer">
    <option value="Firefox">
    <option value="Chrome">
    <option value="Opera">
    <option value="Safari">
  </datalist>
    <p><input type="submit" value="Subscribe"></p>
</form>
{% endblock %}
